PRN_BE/.vs/PRN_BE/CopilotIndices/0.2.1634.3922/CodeChunks.db
PRN_BE/.vs/PRN_BE/CopilotIndices/0.2.1634.3922/CodeChunks.db-shm
PRN_BE/.vs/PRN_BE/CopilotIndices/0.2.1634.3922/CodeChunks.db-wal
/PRN_BE/.vs/PRN_BE/CopilotIndices/0.2.1634.3922
